[Desktop Entry]
Name=Tetris Game
Comment=A good tetris game to enjoy anytime
Exec=tetris
Icon=${SNAP}/meta/gui/tetris.png
Terminal=false
Type=Application
Categories=Games; 
